# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

.vscode

# Environment variables
.env

# Temporary files
*.tmp
*.temp
rabbitmq/

services/*/common/
services/*/cache/
services/*/audio_outputs/
tts_cache/
audio_files/
hf_cache/
models/
qdrant_storage/
telegram-bot/logs
services/qdrant-service/model_cache/